<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Live demonstrations</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/datepicker3.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">
<script src="/js/hints.js"></script>
<!--Icons-->
<script src="/js/lumino.glyphs.js"></script>

</head>

<body>

		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<img width="200" src="/img/logo-one.png" alt="">
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Live demonstration!</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">XSS Stored!</div>
					<div class="panel-body">
						<div class="col-md-6">
								<a href="/home/1">Welcome</a><br/>
								<a href="/home/2">About us</a>	
               			</div>
						</form>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	
     <center>
        <p style="font-size:2em;"> 
			 <th:block th:text="${page?.title}"></th:block>
		    	 <br/>
	 		<th:block th:utext="${page?.content}"></th:block>
		  </p>
      </center>
	  <div class="panel-body">
	  <div class="col-md-6" th:if="${!#strings.isEmpty(page?.content)}">
			<a href="#" onclick='$("#updateForm").toggle();'>Edit</a>
			<div id="updateForm" stype="display:none">
			<form method="POST" action="/update">
				<input name="pageId" type="hidden" th:value="${page?.pageId}"/>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Title:&nbsp;<input name="title" type="text" th:value="${page?.title}"/></p>
				<p>Content:&nbsp;<textarea name="content" th:text="${page?.content}"/></textarea></p>
				<p><input type="submit" value="Save"/></p>
			</form>
		</div>
		</div>
	</div>


	</div><!--/.main-->

	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})

		$(document).ready(function(){
			$("#updateForm").toggle();
		})
	</script>	
</body>

</html>